:root {
  --black: #222222;
  --pink-bkg: #f1e4e6;
  --pink-text: #f1808f;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "lato";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  background: var(--black);
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__button {
  background-color: transparent;
  border: 0;
}

.header__link {
  margin: 0 0 0 33px;
}

.header__wrp {
  display: flex;
  justify-content: space-between;
  min-height: 75px;
  align-items: center;
}

.header__menu {
  display: none;
}

.brand {
  display: flex;
  margin: 0 0 63px;
}

.brand__title-wrp {
  display: flex;
  align-items: center;
  padding: 0 0 0 92px;
  background-color: var(--pink-bkg);
  flex-grow: 1;
}

.brand__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  color: var(--black);
  text-transform: uppercase;
  position: relative;
}

.brand__sub-title {
  display: block;
  font-size: 32px;
  line-height: 38px;
  color: var(--black);
}

.brand__sub-title-pink {
  color: var(--pink-text);
}

.sales__item {
  width: 360px;
  min-height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sales__item-woman {
  background-image: url(../img/sale-w.png);
}

.sales__item-man {
  background-image: url(../img/sale-m.png);
}

.sales__item-kids {
  background-image: url(../img/sale-k.png);
}

.sales__item-shoes {
  background-image: url(../img/sale-accesories.png);
  width: 100%;
  margin: 30px 0 97px;
}

.sales__item-text {
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  text-transform: uppercase;
}

.sales__item-title {
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  text-transform: uppercase;
}

.sales__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.prodocts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.prodocts__title {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-transform: capitalize;
}

.prodocts__text {
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}

.prodocts__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 0 50px;
  gap: 30px;
}

.prodocts__item {
  width: 360px;
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  position: relative;
}

.prodocts__item-title {
  font-size: 13px;
  line-height: 16px;
  color: var(--black);
  text-transform: uppercase;
  margin: 20px 18px 12px;
}

.prodocts__item-desc {
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  margin: 0 18px 18px;
}

.prodocts__item-link {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  margin: 0 18px 20px;
}

.button {
  border: 1px solid #ff6a6a;
  padding: 15px 39px;
  background: none;
  text-transform: capitalize;
  margin-bottom: 95px;
}

.advantages {
  background: var(--black);
  height: 340px;
  display: flex;
  align-items: center;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 360px;
}

.advantages__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advantages__item-title {
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
  margin: 26px 0px 16px;
}

.advantages__item-text {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
}

.subscription {
  display: flex;
  background-image: url(../img/subscribe.png);
  height: 448px;
  background-repeat: no-repeat;
  background-position: center;
}

.footer__subscription {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer__subscription-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  gap: 30px;
}

.footer__subscription-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__subscription-feedback {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  font-style: italic;
  color: #222224;
}

.footer__subscription-title {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
}

.footer__subscription-text {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  margin-bottom: 30px;
}

.copyright {
  background: var(--black);
  height: 79px;
  display: flex;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright-text {
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

.brand__title::after {
  content: "";
  width: 12px;
  height: 100%;
  background: #f16d7f;
  position: absolute;
  left: -20px;
  top: 0px;
}

.prodocts__item-fon:hover::after {
  content: url(../img/products-back-img.png);
  position: absolute;
}

.header__button:active {
  content: "";
  opacity: 0.5;
}

/*Страница Регистрации*/
.category {
  background-color: var(--pink-bkg);
  height: 148px;
  display: flex;
  align-items: center;
}

.category__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
  text-transform: uppercase;
}

.form-registration {
  display: flex;
  padding: 64px 0 96px 0;
}

.registration__input {
  display: flex;
  flex-direction: column;
}

.registration__name {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  display: flex;
  flex-direction: column;
}

.registration__box {
  width: 360px;
  border: 1px solid #a4a4a4;
  margin: 20px 0 0 0;
  padding: 13px 20px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
}

.registration__radio {
  padding: 32px 0 32px 0;
}

.join-now {
  background: #f16d7f;
  border: none;
  text-transform: uppercase;
  padding: 16px 66px 16px 30px;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.registration__text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
  width: 360px;
  margin-top: 15px;
  margin-bottom: 40px;
}
