.header {
    background: $black;
  }
  
  .header__logo {
    margin: 0 41px 0 0;
  }
  
  .header__button {
    background-color: transparent;
    border: 0;
  }
  
  .icon {
    fill: white;
  }
  
  .header__button:active {
    opacity: 0.5;
  }
  
  .header__link {
    margin: 0 0 0 33px;
  }
  
  .header__link:active {
    opacity: 0.5;
  }
  
  .header__wrp {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
  }
  
 